# DTSC-580 Data Manipulation

## Assignment:  NYC Payroll Assignment

### Name: Gaurav Mahavir Banwat

<img src="NYC_OpenData_Logo.png">

## Assignment Overview
In this assignment, you will use payroll data downloaded from NYC Open Data to answer specific questions.  These questions just scratch the surface of analysis possibilities, and if you have additional time, it would be great practice to come up with questions on your own and try to answer them with the data.

After you finish answering the questions using the provided data, you can then take the exam in Brightspace which will include questions from this data set plus more general questions about data aggregation, data grouping, and multi-level indexing.

Note that you will not be uploading your code to CodeGrade for checking and instead will complete this assignment and use the answers to complete a quiz.

## Data
As mentioned above, this data is from [NYC Open Data](https://data.cityofnewyork.us/City-Government/Citywide-Payroll-Data-Fiscal-Year-/k397-673e) and represents NYC employees’ salary and overtime pay data.  The following is from the data dictionary that has also been included in the download files for your reference:

```
Data is collected because of public interest in how the City’s budget is being spent on salary and overtime pay for all municipal employees. Data is input into the City's Personnel Management System (“PMS”) by the respective user Agencies. Each record represents the following statistics for every city employee: Agency, Last Name, First Name, Middle Initial, Agency Start Date, Work Location Borough, Job Title Description, Leave Status as of the close of the FY (June 30th), Base Salary, Pay Basis, Regular Hours Paid, Regular Gross Paid, Overtime Hours worked, Total Overtime Paid, and Total Other Compensation (i.e. lump sum and/or retro payments). This data can be used to analyze how the City's financial resources are allocated and how much of the City's budget is being devoted to overtime. The reader of this data should be aware that increments of salary increases received over the course of any one fiscal year will not be reflected. All that is captured, is the employee's final base and gross salary at the end of the fiscal year.

NOTE: As a part of FISA-OPA’s routine process for reviewing and releasing Citywide Payroll Data, data for some agencies (specifically NYC Police Department (NYPD) and the District Attorneys’ Offices (Manhattan, Kings, Queens, Richmond, Bronx, and Special Narcotics)) have been redacted since they are exempt from disclosure pursuant to the Freedom of Information Law, POL § 87(2)(f), on the ground that disclosure of the information could endanger the life and safety of the public servants listed thereon. They are further exempt from disclosure pursuant to POL § 87(2)(e)(iii), on the ground that any release of the information would identify confidential sources or disclose confidential information relating to a criminal investigation, and POL § 87(2)(e)(iv), on the ground that disclosure would reveal non-routine criminal investigative techniques or procedures.
```
**Important:**  The csv file is large and it may take several minutes to read the data into a DataFrame depending on your computer.  Because of the large file size, when you try to read the data, you may get a warning message about mixed data types.  To prevent this warning message, you should include a data type argument for the columns when using [pd.read_csv()](https://pandas.pydata.org/docs/reference/api/pandas.read_csv.html) to ensure that Pandas will use the appropriate data type.  See [this article](https://www.roelpeters.be/solved-dtypewarning-columns-have-mixed-types-specify-dtype-option-on-import-or-set-low-memory-in-pandas/) for more information on this warning message.

In [2]:
# common imports
import pandas as pd
import numpy as np

In [3]:
# import data - use dtype argument due to large file size
nyc_full = pd.read_csv('NYC_Payroll_Data.csv', dtype={'Fiscal Year': 'int', 'Payroll Number': 'float', 'Agency Name': 'str',
                                                            'Last Name': 'str','First Name': 'str','Mid Init': 'str',
                                                            'Agency Start Date': 'str','Work Location Borough': 'str','Title Description': 'str',
                                                            'Leave Status as of June 30': 'str','Base Salary': 'float','Pay Basis': 'str',
                                                            'Regular Hours': 'float', 'Regular Gross Paid': 'float', 'OT Hours': 'float',
                                                            'Total OT Paid': 'float', 'Total Other Pay': 'float'})

In [4]:
# make copy of data so you do not need to import again if you make a mistake and need to "reset"
nyc = nyc_full.copy()

In [5]:
# check information about DataFrame
nyc.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4496767 entries, 0 to 4496766
Data columns (total 17 columns):
 #   Column                      Dtype
---  ------                      -----
 0   Fiscal Year                 int32
 1   Payroll Number              float64
 2   Agency Name                 object
 3   Last Name                   object
 4   First Name                  object
 5   Mid Init                    object
 6   Agency Start Date           object
 7   Work Location Borough       object
 8   Title Description           object
 9   Leave Status as of June 30  object
 10  Base Salary                 float64
 11  Pay Basis                   object
 12  Regular Hours               float64
 13  Regular Gross Paid          float64
 14  OT Hours                    float64
 15  Total OT Paid               float64
 16  Total Other Pay             float64
dtypes: float64(7), int32(1), object(9)
memory usage: 566.1+ MB

In [6]:
# check first five rows of data
nyc.head()

,Fiscal Year,Payroll Number,Agency Name,Last Name,First Name,Mid Init,Agency Start Date,Work Location Borough,Title Description,Leave Status as of June 30,Base Salary,Pay Basis,Regular Hours,Regular Gross Paid,OT Hours,Total OT Paid,Total Other Pay
0,2020,17.0,OFFICE OF EMERGENCY MANAGEMENT,BEREZIN,MIKHAIL,NaN,08/10/2015,BROOKLYN,EMERGENCY PREPAREDNESS MANAGER,ACTIVE,86005.0,per Annum,1820.0,84698.21,0.0,0.0,0.0
1,2020,17.0,OFFICE OF EMERGENCY MANAGEMENT,GEAGER,VERONICA,M,09/12/2016,BROOKLYN,EMERGENCY PREPAREDNESS MANAGER,ACTIVE,86005.0,per Annum,1820.0,84698.21,0.0,0.0,0.0
2,2020,17.0,OFFICE OF EMERGENCY MANAGEMENT,RAMANI,SHRADDHA,NaN,02/22/2016,BROOKLYN,EMERGENCY PREPAREDNESS MANAGER,ACTIVE,86005.0,per Annum,1820.0,84698.21,0.0,0.0,0.0
3,2020,17.0,OFFICE OF EMERGENCY MANAGEMENT,ROTTA,JONATHAN,D,09/16/2013,BROOKLYN,EMERGENCY PREPAREDNESS MANAGER,ACTIVE,86005.0,per Annum,1820.0,84698.21,0.0,0.0,0.0
4,2020,17.0,OFFICE OF EMERGENCY MANAGEMENT,WILSON II,ROBERT,P,04/30/2018,BROOKLYN,EMERGENCY PREPAREDNESS MANAGER,ACTIVE,86005.0,per Annum,1820.0,84698.21,0.0,0.0,0.0

If you were to research the values in the DataFrame further, you will notice that there are some values in lowercase and most are listed in all uppercase.  Because of this, run the function below that will transform all characters to uppercase to be consistent with the majority of the data.

In [8]:
# run this code block
def upper_case(df):
    '''
    Takes as input the `nyc` DataFrame. 
    Then capitlizes each character in columns with "object" data type.
    '''
    # iterating over each column in the DataFrame
    for col in df.columns:
        # checking datatype of each column
        if df[col].dtype == 'object':
            # applying upper function on column
            df[col] = df[col].str.upper()

upper_case(nyc)

**Q1:** How many rows are contained in the full dataset?

In [10]:
(Q1,cols)=nyc.shape
Q1

4496767

*Note:  Most of the following questions refer to the 2021 fiscal year data.  It might help if you create a new DataFrame for only 2021 data.*

In [12]:
nyc_2021=nyc[nyc['Fiscal Year']==2021]
nyc_2021

,Fiscal Year,Payroll Number,Agency Name,Last Name,First Name,Mid Init,Agency Start Date,Work Location Borough,Title Description,Leave Status as of June 30,Base Salary,Pay Basis,Regular Hours,Regular Gross Paid,OT Hours,Total OT Paid,Total Other Pay
3923290,2021,996.0,NYC HOUSING AUTHORITY,MUSTACIUOLO,VITO,J,02/26/2018,MANHATTAN,EXECUTIVE DIRECTOR,ACTIVE,258000.0,PER ANNUM,1820.0,257260.30,0.00,0.00,258000.00
3923291,2021,996.0,NYC HOUSING AUTHORITY,RUSS,GREGORY,P,08/12/2019,MANHATTAN,CHAIR,ACTIVE,414707.0,PER ANNUM,1820.0,413518.05,0.00,0.00,500.00
3923292,2021,816.0,DEPT OF HEALTH/MENTAL HYGIENE,MCGROARTY,MICHAEL,NaN,10/06/2014,QUEENS,STATIONARY ENGINEER,ACTIVE,508.8,PER DAY,2080.0,132288.00,2374.75,238829.13,40105.00
3923293,2021,816.0,DEPT OF HEALTH/MENTAL HYGIENE,HALLAHAN,PATRICK,M,02/26/2018,BROOKLYN,STATIONARY ENGINEER,ACTIVE,508.8,PER DAY,2080.0,132288.00,2115.25,218628.18,56616.07
3923294,2021,816.0,DEPT OF HEALTH/MENTAL HYGIENE,PETTIT,PATRICK,J,08/02/2010,MANHATTAN,STATIONARY ENGINEER,ACTIVE,508.8,PER DAY,2080.0,132288.00,2152.75,218694.96,38611.82
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4496762,2021,742.0,DEPT OF ED PEDAGOGICAL,BURGAN,WYLIE,G,10/01/1986,OTHER,ASSISTANT PRINCIPAL,CEASED,124800.0,PER ANNUM,0.0,0.00,0.00,0.00,-71916.37
4496763,2021,902.0,BRONX DISTRICT ATTORNEY,SIMMONS,NATHANIEL,NaN,07/02/1990,BRONX,SPECIAL ASSISTANT TO THE DISTRICT ATTORNEY,CEASED,110000.0,PER ANNUM,-70.0,-4207.65,0.00,0.00,-75440.00
4496764,2021,742.0,DEPT OF ED PEDAGOGICAL,ROBERTSON,BRENDA,L,10/15/1985,OTHER,ASSISTANT PRINCIPAL,CEASED,126061.0,PER ANNUM,0.0,0.00,0.00,0.00,-87436.13
4496765,2021,742.0,DEPT OF ED PEDAGOGICAL,BECKHAM,DOLORES,NaN,11/04/1977,OTHER,PRINCIPAL,CEASED,159609.0,PER ANNUM,0.0,0.00,0.00,0.00,-97608.11
4496766,2021,740.0,DEPARTMENT OF EDUCATION ADMIN,CORLETT,SEAN,NaN,09/15/2013,MANHATTAN,ADMINISTRATIVE EDUCATION OFFICER,CEASED,143262.0,PER ANNUM,0.0,-117989.06,0.00,0.00,0.00

**Q2:** How many individuals are represented using only the 2021 fiscal year data?

In [14]:
(Q2,c)=nyc_2021.shape
Q2

573477

**Q3:** Who had the highest base salary in 2021?  What was his/her base salary?  What Agency did he/she work for?  What was his/her title?

In [16]:
Q3=nyc_2021[nyc_2021['Base Salary']==nyc_2021['Base Salary'].max()]
#nyc_2021['Base Salary'].max()
Q3[['First Name','Last Name','Base Salary','Agency Name','Title Description']]

,First Name,Last Name,Base Salary,Agency Name,Title Description
3923291,GREGORY,RUSS,414707.0,NYC HOUSING AUTHORITY,CHAIR

**Q4:** List the top 5 employees with the highest regular gross pay in 2021.

In [18]:
Q4=nyc_2021.sort_values('Regular Gross Paid',ascending=False)
Q4=Q4.iloc[0:5,:]
Q4

,Fiscal Year,Payroll Number,Agency Name,Last Name,First Name,Mid Init,Agency Start Date,Work Location Borough,Title Description,Leave Status as of June 30,Base Salary,Pay Basis,Regular Hours,Regular Gross Paid,OT Hours,Total OT Paid,Total Other Pay
3923291,2021,996.0,NYC HOUSING AUTHORITY,RUSS,GREGORY,P,08/12/2019,MANHATTAN,CHAIR,ACTIVE,414707.0,PER ANNUM,1820.0,413518.05,0.0,0.00,500.00
3923299,2021,15.0,OFFICE OF THE COMPTROLLER,DONE,ALEXIS,NaN,03/12/2012,MANHATTAN,PENSION INVESTMENT ADVISOR,ACTIVE,350000.0,PER ANNUM,1820.0,349014.96,0.0,0.00,0.00
3923304,2021,67.0,ADMIN FOR CHILDREN'S SVCS,OKORO,EDWARD,NaN,06/23/1996,MANHATTAN,CHILD PROTECTIVE SPECIALIST,ON SEPARATION LEAVE,60351.0,PER ANNUM,1820.0,332518.52,4.0,661.91,-440.49
3923321,2021,8.0,OFFICE OF THE ACTUARY,CHAN,SHERRY,S,05/18/2015,MANHATTAN,CHIEF ACTUARY,ACTIVE,311885.0,PER ANNUM,1820.0,311007.12,0.0,0.00,-5974.80
3923329,2021,15.0,OFFICE OF THE COMPTROLLER,HADDAD,MICHAEL,D,01/11/2016,MANHATTAN,DIRECTOR OF INVESTMENTS,ACTIVE,300000.0,PER ANNUM,1820.0,299155.64,0.0,0.00,0.00

**Q5:** Which employee had the highest total OT paid in 2021?

In [20]:
Q5=nyc_2021[nyc_2021['Total OT Paid']==nyc_2021['Total OT Paid'].max()]
Q5

,Fiscal Year,Payroll Number,Agency Name,Last Name,First Name,Mid Init,Agency Start Date,Work Location Borough,Title Description,Leave Status as of June 30,Base Salary,Pay Basis,Regular Hours,Regular Gross Paid,OT Hours,Total OT Paid,Total Other Pay
3923298,2021,996.0,NYC HOUSING AUTHORITY,PROCIDA,ROBERT,NaN,04/13/1987,BRONX,SUPERVISOR PLUMBER,ACTIVE,387.03,PER DAY,1820.0,100627.8,2249.5,248749.72,7215.34

**Q6:**  According to the Data Dictionary, an employee's total gross pay is equal to the sum of their regular gross pay, total overtime pay, and total other pay.  Create a column called `Total Gross Paid` in the `nyc` DataFrame that sums those three respective pay columns for each employee.  

*Note: After adding this column to the `nyc` DataFrame, I would suggest that you overwrite your 2021 DataFrame again with only 2021 data to make it easier to answer the questions below.*

Which 10 individuals had the highest total gross pay in 2021?

In [22]:
nyc['Total Gross Paid']=nyc['Regular Gross Paid']+ nyc['Total OT Paid']+ nyc['Total Other Pay']
nyc_2021=nyc[nyc['Fiscal Year']==2021]
nyc_2021

,Fiscal Year,Payroll Number,Agency Name,Last Name,First Name,Mid Init,Agency Start Date,Work Location Borough,Title Description,Leave Status as of June 30,Base Salary,Pay Basis,Regular Hours,Regular Gross Paid,OT Hours,Total OT Paid,Total Other Pay,Total Gross Paid
3923290,2021,996.0,NYC HOUSING AUTHORITY,MUSTACIUOLO,VITO,J,02/26/2018,MANHATTAN,EXECUTIVE DIRECTOR,ACTIVE,258000.0,PER ANNUM,1820.0,257260.30,0.00,0.00,258000.00,515260.30
3923291,2021,996.0,NYC HOUSING AUTHORITY,RUSS,GREGORY,P,08/12/2019,MANHATTAN,CHAIR,ACTIVE,414707.0,PER ANNUM,1820.0,413518.05,0.00,0.00,500.00,414018.05
3923292,2021,816.0,DEPT OF HEALTH/MENTAL HYGIENE,MCGROARTY,MICHAEL,NaN,10/06/2014,QUEENS,STATIONARY ENGINEER,ACTIVE,508.8,PER DAY,2080.0,132288.00,2374.75,238829.13,40105.00,411222.13
3923293,2021,816.0,DEPT OF HEALTH/MENTAL HYGIENE,HALLAHAN,PATRICK,M,02/26/2018,BROOKLYN,STATIONARY ENGINEER,ACTIVE,508.8,PER DAY,2080.0,132288.00,2115.25,218628.18,56616.07,407532.25
3923294,2021,816.0,DEPT OF HEALTH/MENTAL HYGIENE,PETTIT,PATRICK,J,08/02/2010,MANHATTAN,STATIONARY ENGINEER,ACTIVE,508.8,PER DAY,2080.0,132288.00,2152.75,218694.96,38611.82,389594.78
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4496762,2021,742.0,DEPT OF ED PEDAGOGICAL,BURGAN,WYLIE,G,10/01/1986,OTHER,ASSISTANT PRINCIPAL,CEASED,124800.0,PER ANNUM,0.0,0.00,0.00,0.00,-71916.37,-71916.37
4496763,2021,902.0,BRONX DISTRICT ATTORNEY,SIMMONS,NATHANIEL,NaN,07/02/1990,BRONX,SPECIAL ASSISTANT TO THE DISTRICT ATTORNEY,CEASED,110000.0,PER ANNUM,-70.0,-4207.65,0.00,0.00,-75440.00,-79647.65
4496764,2021,742.0,DEPT OF ED PEDAGOGICAL,ROBERTSON,BRENDA,L,10/15/1985,OTHER,ASSISTANT PRINCIPAL,CEASED,126061.0,PER ANNUM,0.0,0.00,0.00,0.00,-87436.13,-87436.13
4496765,2021,742.0,DEPT OF ED PEDAGOGICAL,BECKHAM,DOLORES,NaN,11/04/1977,OTHER,PRINCIPAL,CEASED,159609.0,PER ANNUM,0.0,0.00,0.00,0.00,-97608.11,-97608.11
4496766,2021,740.0,DEPARTMENT OF EDUCATION ADMIN,CORLETT,SEAN,NaN,09/15/2013,MANHATTAN,ADMINISTRATIVE EDUCATION OFFICER,CEASED,143262.0,PER ANNUM,0.0,-117989.06,0.00,0.00,0.00,-117989.06

**Q7:** What is the average and median total gross pay for all individuals in 2021?

In [24]:
Q7a=nyc_2021['Total Gross Paid'].mean()
Q7b=nyc_2021['Total Gross Paid'].median()

**Q8:** How many different agencies are represented in the 2021 data?

In [26]:
Q8=nyc_2021['Agency Name'].nunique()

**Q9:** What agencies had the highest and lowest median total gross pay in 2021?

In [28]:
Q9_df=nyc_2021.groupby('Agency Name')['Total Gross Paid'].median().sort_values(ascending=True)
Q9_df
lowest_median_gross_pay=Q9_df.iloc[0]
highest_median_gross_pay=Q9_df.iloc[-1]
#highest_median_gross_pay

**Q10:** How much did Mayor Bill de Blasio make in 2021 (total gross pay)?  Who had the highest total gross pay in the Mayor's office? When was Mayor Bill de Blasio's start date in the Mayor's office?

In [30]:
Q10a=nyc_2021[(nyc_2021['Last Name']== "DE BLASIO") & (nyc_2021['First Name']=='BILL')]
Q10b=nyc_2021[nyc_2021['Title Description']=='MAYOR'].sort_values('Total Gross Paid',ascending=False)
Q10b

,Fiscal Year,Payroll Number,Agency Name,Last Name,First Name,Mid Init,Agency Start Date,Work Location Borough,Title Description,Leave Status as of June 30,Base Salary,Pay Basis,Regular Hours,Regular Gross Paid,OT Hours,Total OT Paid,Total Other Pay,Total Gross Paid
3923481,2021,2.0,OFFICE OF THE MAYOR,DE BLASIO,BILL,NaN,01/01/2014,MANHATTAN,MAYOR,ACTIVE,258750.0,PER ANNUM,1820.0,258021.79,0.0,0.0,-4956.9,253064.89

**Q11:** What was the average base salary per work location in 2021?

In [32]:
Q11=nyc_2021.groupby('Work Location Borough')['Base Salary'].mean()
Q11.idxmax()

'WASHINGTON DC'

**Q12:** For the work location that has the highest average base salary above, which individual in that location makes the highest base salary?

In [34]:
Q12a=nyc_2021[(nyc_2021['Work Location Borough']==Q11.idxmax())]['Base Salary'].idxmax()
Q12=nyc_2021.loc[Q12a,['First Name','Last Name']]
Q12

First Name            REBECCA
Last Name     KAGAN STERNHELL
Name: 3932324, dtype: object

**Q13:** Group the 2021 data by work location and then agency name.  What are the five largest median base salaries from that grouped data?

In [36]:
Q13=nyc_2021.groupby(['Work Location Borough','Agency Name'])['Base Salary'].median().sort_values(ascending=False)[0:5]
Q13

Work Location Borough  Agency Name
WASHINGTON DC          DEPT OF INFO TECH & TELECOMM     177904.0
BRONX                  DEPT OF INFO TECH & TELECOMM     147213.0
                       COMMUNITY COLLEGE (LAGUARDIA)    147000.0
WASHINGTON DC          LAW DEPARTMENT                   142057.0
ALBANY                 OFFICE OF THE MAYOR              130000.0
Name: Base Salary, dtype: float64

**Q14:** How has the cumulative total gross pay for all individuals changed over time?  Be prepared to answer just basic questions such as has it mostly increased or decreased, what year had the highest total gross pay, etc.

In [38]:
Q14=nyc.groupby('Fiscal Year')['Total Gross Paid'].sum()
Q14

Fiscal Year
2014    2.286248e+10
2015    2.433409e+10
2016    2.551812e+10
2017    2.714594e+10
2018    2.754932e+10
2019    2.951697e+10
2020    3.041857e+10
2021    2.983112e+10
Name: Total Gross Paid, dtype: float64

**Q15:** How has the total number of employees for each fiscal year changed over time?  Again, be prepared to answer just some basic questions.

In [40]:
nyc['Full Name']=nyc['First Name']+" "+nyc['Last Name']
Q15=nyc.groupby('Fiscal Year')['Full Name'].sum()
Q15

Fiscal Year
2014    CHANTAY WESTHUGH MOBEVERLY SHABAZZFELIX MERTLY...
2015    CHRISTOPER BURKETHOMAS BURKEGREGORY BURNSIRA G...
2016    SHANIJA OWENSEDWINA PACHECOSTEFAN PACKAKOUAVI ...
2017    TERESA AARONCAMELIA AARONSMODUPE ABDULABDUL AZ...
2018    KAITLIN DONNELLYCONSUELO ROQUEDAYSI NUNEZTHERE...
2019    DEAN FULEIHANBILL DE BLASIOHERMINIA PALACIOLAU...
2020    MIKHAIL BEREZINVERONICA GEAGERSHRADDHA RAMANIJ...
2021    VITO MUSTACIUOLOGREGORY RUSSMICHAEL MCGROARTYP...
Name: Full Name, dtype: object

**Q16:** For 2021, what percentage of individuals earned income per annum, per day and per hour?

**Q17:** Create a pivot table using the median of total gross pay with the index by agency name and columns broken down by pay basis category for 2021.  Include `margins=True`.  Be prepared to answer questions based on this pivot table.

In [43]:
Q17=pd.pivot_table(nyc_2021,values='Total Gross Paid',index='Agency Name',columns='Pay Basis',aggfunc='median',margins=True)
Q17

Pay Basis,PER ANNUM,PER DAY,PER HOUR,PRORATED ANNUAL,All
Agency Name,,,,,
ADMIN FOR CHILDREN'S SVCS,65606.510,102861.90,29401.265,NaN,65585.300
ADMIN TRIALS AND HEARINGS,62942.665,75400.00,31752.580,NaN,45436.065
BOARD OF CORRECTION,70304.080,NaN,NaN,NaN,70304.080
BOARD OF ELECTION,65580.730,NaN,27731.880,NaN,57010.970
BOARD OF ELECTION POLL WORKERS,NaN,NaN,350.000,NaN,350.000
...,...,...,...,...,...
STATEN ISLAND COMMUNITY BD #3,66343.060,NaN,NaN,NaN,66343.060
TAX COMMISSION,110723.460,NaN,13322.340,25604.70,83971.025
TAXI & LIMOUSINE COMMISSION,58449.400,66931.63,42958.870,NaN,57260.310
TEACHERS RETIREMENT SYSTEM,80842.830,NaN,5204.180,NaN,73537.980
All,75844.620,1056.57,1112.755,35960.62,43359.150

In [44]:
nyc_2021.head()

,Fiscal Year,Payroll Number,Agency Name,Last Name,First Name,Mid Init,Agency Start Date,Work Location Borough,Title Description,Leave Status as of June 30,Base Salary,Pay Basis,Regular Hours,Regular Gross Paid,OT Hours,Total OT Paid,Total Other Pay,Total Gross Paid
3923290,2021,996.0,NYC HOUSING AUTHORITY,MUSTACIUOLO,VITO,J,02/26/2018,MANHATTAN,EXECUTIVE DIRECTOR,ACTIVE,258000.0,PER ANNUM,1820.0,257260.30,0.00,0.00,258000.00,515260.30
3923291,2021,996.0,NYC HOUSING AUTHORITY,RUSS,GREGORY,P,08/12/2019,MANHATTAN,CHAIR,ACTIVE,414707.0,PER ANNUM,1820.0,413518.05,0.00,0.00,500.00,414018.05
3923292,2021,816.0,DEPT OF HEALTH/MENTAL HYGIENE,MCGROARTY,MICHAEL,NaN,10/06/2014,QUEENS,STATIONARY ENGINEER,ACTIVE,508.8,PER DAY,2080.0,132288.00,2374.75,238829.13,40105.00,411222.13
3923293,2021,816.0,DEPT OF HEALTH/MENTAL HYGIENE,HALLAHAN,PATRICK,M,02/26/2018,BROOKLYN,STATIONARY ENGINEER,ACTIVE,508.8,PER DAY,2080.0,132288.00,2115.25,218628.18,56616.07,407532.25
3923294,2021,816.0,DEPT OF HEALTH/MENTAL HYGIENE,PETTIT,PATRICK,J,08/02/2010,MANHATTAN,STATIONARY ENGINEER,ACTIVE,508.8,PER DAY,2080.0,132288.00,2152.75,218694.96,38611.82,389594.78

**Q18:** What positions (grouped by titles) pay the most based on the median total gross pay in 2021?  Show the top 10.

In [46]:
Q18=nyc_2021.groupby('Title Description')['Total Gross Paid'].median().sort_values(ascending=False)[0:10]
Q18

Title Description
PENSION INVESTMENT ADVISOR                      349014.960
CHAIR                                           326110.630
CHIEF ACTUARY                                   305032.320
CAPTAIN DETAILED AS CHIEF OF TRAINING           297703.365
FIRST DEPUTY MAYOR                              284742.280
PRESIDENT                                       275457.880
DIRECTOR OF  INVESTMENTS                        264254.050
CAPTAIN DETAILED AS CHIEF OF RISK MANAGEMENT    254051.460
MAYOR                                           253064.890
CHANCELLOR                                      251872.840
Name: Total Gross Paid, dtype: float64

**Q19:** What are the top 10 agencies that have the most total number of overtime hours for 2021?

In [49]:
Q19=nyc_2021.groupby('Agency Name')['OT Hours'].sum().sort_values(ascending=False)[0:10]
Q19

Agency Name
POLICE DEPARTMENT                 10815884.93
FIRE DEPARTMENT                    8220712.59
DEPARTMENT OF SANITATION           4206474.56
DEPARTMENT OF CORRECTION           3323294.05
NYC HOUSING AUTHORITY              2686245.50
HRA/DEPT OF SOCIAL SERVICES        1276660.51
DEPARTMENT OF TRANSPORTATION       1074099.24
DEPT OF HEALTH/MENTAL HYGIENE       867652.73
DEPT OF ENVIRONMENT PROTECTION      679410.40
ADMIN FOR CHILDREN'S SVCS           539092.21
Name: OT Hours, dtype: float64

**Q20:** Attempt to do this in one line of code by using `agg`.  For the 2021 data, groupby the agency name and get the mean for the base salary, the median for the total overtime paid, and the standard deviation for the total gross paid.  Save this as an object and be prepared to index it.

In [52]:
Q20=nyc_2021.groupby('Agency Name').agg(Mean_Base_Salary=('Base Salary','mean'),
                                        Sum_of_Total_OT_Paid=('Total OT Paid', 'sum'),
                                       STD_of_Total_Gross_Paid=('Total Gross Paid','std'))

Q20

,Mean_Base_Salary,Sum_of_Total_OT_Paid,STD_of_Total_Gross_Paid
Agency Name,,,
ADMIN FOR CHILDREN'S SVCS,68928.295008,24084982.48,32124.442208
ADMIN TRIALS AND HEARINGS,42774.316154,119047.32,38677.473864
BOARD OF CORRECTION,94507.127586,101.56,41924.536647
BOARD OF ELECTION,41241.893459,18212750.11,40142.716389
BOARD OF ELECTION POLL WORKERS,1.009790,0.00,2131.199265
...,...,...,...
STATEN ISLAND COMMUNITY BD #2,54442.350000,0.00,60292.117307
STATEN ISLAND COMMUNITY BD #3,76387.000000,0.00,23567.010355
TAX COMMISSION,88848.096129,198313.92,51740.416321
TAXI & LIMOUSINE COMMISSION,59062.593797,762315.71,30097.186297
TEACHERS RETIREMENT SYSTEM,80132.776992,179137.49,48630.019747